doctype html
html(lang="en")
    head
        title Ticket Event
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css")
        link(rel="stylesheet", href="style/style.css")
        include mixins

body

    header
        .row

            // Header text
            .column.small-6
                p.float-left <strong>Hello !</strong> Update your list of favorites and never miss an event!

            // Location and account information
            .column.small-6
                .float-right
                    ul.menu

                        // Location information
                        li
                            i.fi-marker
                            button.dropdown.button.header-button Chicagoland & Northern IL

                        // Account information
                        li
                            i.fi-torso
                            button.dropdown.button.header-button My Account


    // Logo, Search, Shopping Cart
    .row.searchbox

        // Logo
        .column.small-2
            h1.logo Ticket

        // Search Input
        .column.small-7.search-input

            // Category select
            .column.small-4
                label
                    select
                        option(value="All Categories") All Categories
                        option(value="Option1") Option1
                        option(value="Option2") Option2

            // Search form
            .column.small-8
                label
                    input(type="text", placeholder="Enter Artist , Team , or Venue")

        // Shopping Cart
        .column.small-3.shopping-cart
            .column.small-2

                // Shopping Cart ICON
                .cart
                    i.fi-shopping-cart.size-24

            // Shopping cart information
            .column.small-10
                h4 Shopping Cart
                p 3 Item (s) - $578.14


    // Navigation
    .full-navigation-row

        .row.navigation-row

            .column.large-12.navigation
                ul.dropdown.menu.float-right(data-dropdown-menu)
                    li: a.fi-list(href=""): strong Categories
                    li: a(href="") Home
                    li.has-submenu
                        a(href="") Tickets
                        ul.submenu.menu.vertical(data-submenu)
                            li: a(href="") Item 1A
                            li: a(href="") Item 1A
                            li: a(href="") Item 1A
                    li.has-submenu
                        a(href="") Events
                        ul.submenu.menu.vertical(data-submenu)
                            li: a(href="") Item 1A
                            li: a(href="") Item 1A
                            li: a(href="") Item 1A
                    li: a(href="") Special Offers
                    li: a.contact-us(href="") Contact Us
                    li: a.i-arrow-right(href="") Arrow Right
                    li: a.i-social-facebook(href="") Facebook
                    li: a.i-social-twitter(href="") Twitter
                    li: a.i-social-googleplus(href="") GooglePlus
                    li: a.i-social-linkedin(href="") LinkedIn


    .row.under-navigation

        .column.large-2
            ul.menu.vertical
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow
                li.last-li
                    ul.menu
                        li: a(href="") Trash
                        li: a(href="") Music
                        li: a(href="") Arrow


        .column.large-10.main-pictures
            ul.menu.float-right
                li.main-image.float-left
                    img(src="images/slider-1.jpg", alt="Dillon Francis")

                    // Image information, going on the image
                    .image-text-main
                        h2 Dillon Francis
                        h4 UNITED CENTER, CHICAGO, IL

                        .rating
                            span ☆
                            span ☆
                            span ☆
                            span ☆
                            span ☆

                        p.image-a: a(href="") <br>Get It Now!

                li.main-image-2
                        img(src="images/slider-2.jpg", alt="The Game")

                        // Image information, going on the image
                        .image-text-main-2
                            h3 The Game  Tour
                            h4 December 2015

                            .rating
                                span ☆
                                span ☆
                                span ☆
                                span ☆
                                span ☆

                            p.image-a: a(href="") <br>Get It Now!

                li.main-image-3.float-left
                        img(src="images/slider-3.jpg", alt="Miami vs Cleavlend CL")

                        // Image information, going on the image
                        .image-text-main-3
                            h3 Miami vs Cleavlend CL
                            h4 Medison Square

                            .rating
                                span ☆
                                span ☆
                                span ☆
                                span ☆
                                span ☆

                            p.image-a: a(href="") <br>Get It Now!



    // SHOP FOR EVENTS
    .row.shop-row

        // Header text
        .column.small-12
            ul.menu
                li: strong Shop for Events
                li: a.vertical-line Line
                li: p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur

            // Progress Bar
            .progress(role="progressbar", tabindex="0", aria-valuenow="10", aria-veluemin="0", aria-valuemax="100")
                .progress-meter(style="width: 10%")


        .row.small-up-1.medium-up-3.large-up-5.inputs

            // Select's START
            .column
                label.custom-select Select Category
                    select
                        option Option 1
                        option Option 2
                        option Option 3

            .column
                label.custom-select Sub Category
                    select
                        option Option 1
                        option Option 2
                        option Option 3

            .column
                label.custom-select From
                    select
                        option Option 1
                        option Option 2
                        option Option 3

            .column
                label.custom-select To
                    select
                        option Option 1
                        option Option 2
                        option Option 3

            .column
                label.custom-select Town
                    select
                        option Option 1
                        option Option 2
                        option Option 3

            // Select's END


    // HOT TICKETS
    .row.menu-navi

        // Navigation
        +menu("HOT TICKETS", "Family", "Sport", "Music", "Art", "Food")


    // Tickets
    .row.hot-tickets

        +ticket-full-image("images/tickets-1.jpg", "Omar Linx")

        +ticket-small-text("images/tickets-2.jpg", "Dirty South", "Presented by Blueprint", "DIRTY SOUTH : #STEREO", "text-new", "NEW!", "SEE TICKET")

        +ticket-small-text("images/tickets-3.jpg", "PROBLEM", "Presented by BlueprintLIVE", "Problem", "text-hot", "HOT!", "SEE TICKET")

        +ticket("images/tickets-4.jpg", "GRIZ", "Presented by Blueprint & Live Nation", "GRIZ :: SAY IT LOUD TOUR", "SEE TICKET")



    // Sports menu row
    .row.menu-navi

        // Navigation
        +menu("SPORTS", "All", "Basketball", "Tennis", "Rugby", "Formula 1")


    // SPORTS ROW
    .row.sports-row

        // Close Button
        .column.small-12.large-7.sports-labels
            .primary.callout.event-label-button(data-closable)
                p Recommender Sport Evenets past 5 Days
                button.close-button(aria-label="Dismiss alert" type="button" data-close)
                    span(aria-hidden="true") &times;

            // Events START

            +sports-event-label("14", "April", "Neil Diamond World Tour 2015", "United Center", "SEE TICKET")

            +sports-event-label("21", "April", "Chicago White Sox vs. Cleveland Indians", "U.S. Cellular Field", "SEE TICKET")

            +sports-event-label("26", "April", "Chicago Bulls v. TBD - Round 1 Home Game D", "United Center", "SEE TICKET")

            +sports-event-label("27", "April", "Bank of America Theatre", "U.S. Cellular Field", "SEE TICKET")

            +sports-event-label("29", "April", "Shania Twain Rock This Country Tour", "Allstate Arena", "SEE TICKET")

            +sports-event-label("30", "April", "One Direction: On The Road Again Tour 2015", "Soldier Field", "SEE TICKET")

            // Events END


        // Right Side Images
        .column.small-12.large-5.sports-images

            .image-with-text
                img(src="images/tickets-5.jpg", alt="Rugby")
                +photo-information-left("L.A Lakers vs ", "Chicago Bulls!", "BMO Harris Bank Conter", "Get It Now!")

            .image-with-text
                img(src="images/tickets-6.jpg", alt="Messi")
                +photo-information-right("Barcelona vs ", "Real Madrid Tickets", "Kamp Nou", "Get It Now!")


    // Sports Events with Pictures
    .row.small-up-1.medium-up-3.large-up-5.sport-events-row
        +sports-event("images/sports-1.jpg", "Lakers", "BMO Harris Bank Center", "L.A LAKERS VS HEAT", "SEE TICKET")

        +sports-event("images/sports-2.jpg", "Football", "Lisabon, Portugal", "Portugal vs Serbia EUR16", "SEE TICKET")

        +sports-event-small-text("images/sports-3.jpg", "UEFA Finals", "Peoria Civic Center", "UEFA Finals", "text-hot", "HOT!", "SEE TICKET")

        +sports-event-small-text("images/sports-4.jpg", "Ski Jumping", "U.S. Cellular Field", "2015 Ski Jumping", "text-new", "NEW!", "SEE TICKET")

        +sports-event("images/sports-5.jpg", "Rugby Finals", "BMO Harris Bank Center", "Rugby Finals 2016", "SEE TICKET")


    // RECOMMENDED FOR YOU
    .row.menu-navi

        // Navigation
        .column.small-12.menu-navigation-one

            // Left Side Text
            ul.menu.float-left
                li: strong RECOMMENDED FOR YOU

            // Right Side Menu
            ul.menu.float-right
                li View All


    .row.recommended-row
        // Events
        +recommended-event("images/banner-1.png", "Chicago Bulls", "Chicago Bulls")

        +recommended-event("images/banner-2.png", "Chicago Backhawks", "Chicago Backhawks")

        +recommended-event("images/banner-3.png", "Chicago Wolves", "Chicago Wolves")

        +recommended-event("images/banner-4.png", "CONCACAF Gold Cup", "CONCACAF Gold Cup")

        +recommended-event("images/banner-1.png", "Chicago Bulls", "Chicago Bulls")

        +recommended-event("images/banner-2.png", "Chicago Bulls", "Chicago Backhawks")

        .arrow


    // Music navigation menu
    .row.menu-navi

        // Navigation
        +menu("MUSIC", "Live", "Rock", "Transe", "Techno", "National")

    // Music events
    .row.music-events-row

        // Events
        +ticket-small-text("images/music-1.jpg", "Black Milk", "Presented by Blueprint", "Black Milk", "text-new", "NEW!", "SEE TICKET")

        +ticket-small-text("images/music-2.jpg", "Ten Walls", "Presented by Fortune Sound", "Ten Walls (Live)", "text-hot", "HOT!", "SEE TICKET")

        +ticket("images/music-3.jpg", "Monstercat", "Presented by Seasons, Monstercat", "MONSTERCAT SHOWCASE", "SEE TICKET")

        +ticket-full-image("images/music-4.jpg", "Firebeatz")


    .row.music-events-labels-row
        // Left Side Images
        .column.small-12.large-5.sports-images-bottom

            .image-with-text
                img(src="images/music-5.jpg", alt="Hardwell")
                +photo-information-left("Hardwell TOP 10 DJ", "Tour 2015", "BMO Harris Bank Center", "Get It Now!")

            .image-with-text
                img(src="images/music-6.jpg", alt="Feddle Le Grand Tour")
                +photo-information-right("Feddle Le Grand ", "Tour Vegas", "Belagio", "Get It Now!")


        // Close Button
        .column.small-12.large-7.sports-labels-bottom
            .primary.callout.event-label-button(data-closable)
                p Recommender Sport Evenets past 5 Days
                button.close-button(aria-label="Dismiss alert" type="button" data-close)
                    span(aria-hidden="true") &times;

            // Events START

            +sports-event-label("14", "April", "Neil Diamond World Tour 2015", "United Center", "SEE TICKET")

            +sports-event-label("21", "April", "Chicago White Sox vs. Cleveland Indians", "U.S. Cellular Field", "SEE TICKET")

            +sports-event-label("26", "April", "Chicago Bulls v. TBD - Round 1 Home Game D", "United Center", "SEE TICKET")

            +sports-event-label("27", "April", "Bank of America Theatre", "U.S. Cellular Field", "SEE TICKET")

            +sports-event-label("29", "April", "Shania Twain Rock This Country Tour", "Allstate Arena", "SEE TICKET")

            +sports-event-label("30", "April", "One Direction: On The Road Again Tour 2015", "Soldier Field", "SEE TICKET")

            // Events END


    // Social Media
    .full-row
        .bottom-background

        .row.social-media-row

            +social-media("images/facebook.png", "Facebook", "social-facebook", "Facebook", "Follow us on facebook", "You would have to be half mad to dream me up", "Like Us")

            +social-media("images/twitter.png", "Twitter", "social-twitter", "Twitter", "Follow us on twitter", "You would have to be half mad to dream me up", "Tweet Now")

            +social-media("images/googleplus.png", "Google Plus", "social-googleplus", "GOOGLE +", "Follow us on google plus", "You would have to be half mad to dream me up", "Follow Us")

            +social-media("images/instagram.png", "Instagram", "social-instagram", "Instragram", "Follow us on instagram", "You would have to be half mad to dream me up", "Follow Us")


        // More Information under social-media
        .row.information-tabs-row

            +information-tab("ticket", "images/icon-ticket.png", "Ticket", "+15.000 Tickets", "Sports, Movies, etc.")

            +information-tab("star", "images/icon-star.png", "Star", "More then 20 Categories", "Football, Rugby, Tennis")

            +information-tab("shipping", "images/icon-shipping.png", "Shipping", "Free Shipping", "Free shipping on the world")

            +information-tab("refund", "images/icon-pig.png", "Refund", "Refund in 2 days", "100% guarantee")



        footer
            .row

                // Logo and Free shipping information
                .column.large-2
                    img.footer-logo(src="images/footer-logo.png", alt="Logo")
                    h5 Ticket Services

                    .float-left
                        img(src="images/icon-delivery.png", alt="Delivery")

                    .float-right
                        h6 Free Shipping
                        p On All U.S. Orders

                // Policies
                .column.large-2.large-offset-1
                    ul.menu.vertical
                        li: h5 Policies
                        li: a(href="") Privacy Policy
                        li: a(href="") Return Policy
                        li: a(href="") Shipping Policy

                // Account information
                .column.large-2
                    ul.menu.vertical
                        li: h5 Account
                        li: a(href="") Login
                        li: a(href="") Register
                        li: a(href="") My Account
                        li: a(href="") History
                        li: a(href="") Wishlist

                // Website information and necessary buttons
                .column.large-2
                    ul.menu.vertical
                        li: h5 Website
                        li: a(href="") Home
                        li: a(href="") Tickets
                        li: a(href="") Events
                        li: a(href="") Contact Us
                        li: a(href="") Help

                // Subscribe information
                .column.large-3
                    h6 Subscribe Today
                    p and <span>save a 10%</span> on your next order

                    .input-group
                        input.input-group-field(type="text")
                        .input-group-button
                            input.button(type="submit", value="Submit")

                    p I don't think... " then you<br>shouldn't talk, said the Hatter.

                .column.small-12
                    p.footer-text &copy; 2015 TICKET SERVICE. All rights reserved. CODE: PAULIUS KAŠIUBA, DESIGN: UNKNOWN

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js")
    script(src="js.js")

// http://red-team-design.com/making-html-dropdowns-not-suck/
// https://css-tricks.com/text-blocks-over-image/