.event-label
    background-color: white
    border: 1px solid $color-ticket-border
    padding-right: 0.7rem
    max-height: 65px

    .description

        h6
            margin-top: 10px
            color: $text-event-label
            font-size: 15px

        p
            color: $text-event-description
            font-size: 15px
            margin-top: -5px

    .date
        color: $text-event-label
        font-size: 15px
        line-height: 20px

    .tab-button
        padding: 0

    .calendar ul
        margin-top: 5px

    .calendar ul li
        padding-left: 10px

    .calendar ul li:first-child
        padding-left: 0

.event-button
    background-color: $color-gray
    color: $text-ticket-description
    border-radius: 5px
    margin-left: 10px
    margin-top: 15px
    font-size: 12px !important
    text-transform: uppercase
    font-weight: bold
    padding: 0.70em 0.9em