// Header
header
    background-color: $color-gray

    .top-bar
        background-color: $color-gray
        padding: 0

        li
            background-color: $color-gray
            padding: 0

        // Header main column
        .top-bar-left
            margin-top: 15px

            p
                color: $text-header
                font-family: 'Montserrat', sans-serif
                font-size: 15px
                font-weight: normal

        .top-bar-right
            margin-top: 12px

            ul

                li
                    padding-left: 15px

                    i
                        color: $color-dropdown
                        padding-right: 5px
                        font-size: 18px

                    button
                        padding: 0.40em
                        background: none
                        color: $text-header
                        font-size: 15px
                        font-family: "Open Sans", sans-serif

                    button:focus,
                    button:active,
                    button:hover
                        background-color: #e9e9e9
                        border-radius: 5px

                    button:after
                        border-color: $color-dropdown transparent transparent !important
