// Header
header
    background-color: $color-gray

    // Header main column
    .column
        margin-top: 15px

        p
            color: $text-header

// Header buttons
.header-button
    background: none
    color: $text-header

.header-button:after
    border-color: $color-dropdown transparent transparent !important
