.image-with-text
    position: relative

.main-image, .main-image-2, .main-image-3
    position: relative


// Image text left
.image-text-left
    position: absolute
    right: 0
    top: 55px
    left: 45px
    right: 0

    h3
        color: white
        font-size: 18px
        font-weight: bold

    h4
        color: $text-image-gray
        font-size: 15px

    .image-a
        margin-top: -10px

        a
            color: white
            font-weight: bold
            font-size: 18px

        a:hover,
        a:focus,
        a:active
            color: $text-image-hover

// Image text right
.image-text-right
    position: absolute
    right: 0
    top: 60px
    left: 260px
    right: 0

    h3
        color: white
        font-size: 18px
        font-weight: bold

    h4
        color: $text-image-right-description
        font-size: 15px

    .image-a
        margin-top: -10px

        a
            color: white
            font-weight: bold
            font-size: 18px

        a:hover,
        a:focus,
        a:active
            color: $text-image-hover


// MAIN IMAGES
.image-text-main
    position: absolute
    right: 0
    top: 10em
    left: 4em
    right: 0

    h2
        color: white
        font-size: 42px
        font-weight: bold
        padding-right: 300px
        line-height: 1.25

    h4
        color: $text-image-gray
        font-size: 15px
        font-size: 15px
        margin-top: -10px

    .image-a
        margin-top: 40px

        a
            color: $color-lightblue
            text-decoration: underline
            font-weight: bold
            font-size: 18px

        a:hover,
        a:focus,
        a:active
            color: $text-main-image-hover

.image-text-main-2
    position: absolute
    right: 0
    top: 4.25em
    left: 10em
    right: 0

    h3
        color: white
        font-size: 18px
        font-weight: bold
        padding-right: 40px

    h4
        color: $text-image-gray
        font-size: 15px
        margin-bottom: -5px
        margin-top: 15px

    .image-a
        margin-top: -20px

        a
            color: white
            text-decoration: underline
            font-weight: bold
            font-size: 18px

        a:hover,
        a:focus,
        a:active
            color: $text-image-hover


.image-text-main-3
    position: absolute
    right: 0
    top: 2.55em
    left: 35px
    right: 0

    h3
        color: white
        font-size: 18px
        font-weight: bold
        padding-right: 150px

    h4
        color: $text-image-gray
        font-size: 15px
        margin-top: 15px
        margin-bottom: -5px

    .image-a

        a
            color: $color-lightblue
            text-decoration: underline
            font-weight: bold
            font-size: 18px

        a:hover,
        a:focus,
        a:active
            color: $text-main-image-hover