.information-tabs-row
    margin-top: 50px

// Information tab childs, changing margins.
.information-tab:first-child
    h5
        margin-right: 55px

.information-tab:nth-child(2)
    padding: 0 0.25rem

.information-tab:nth-child(3)
    p
        margin-right: 15px

.information-tab:nth-child(4)
    h5
        margin-right: 45px


// Information tab
.information-tab

    .float-left

        .ticket, .shipping, .refund
            border-radius: 100%
            border: 2px solid $color-information-tab-border
            width: 65px
            height: 65px
            position: relative

            img
                position: absolute
                margin: auto
                top: 0
                left: 0
                right: 0
                bottom: 0

        // STAR DIV
        .star
            background-color: $color-lightblue
            border-radius: 100%
            width: 65px
            height: 65px
            position: relative

            img
                position: absolute
                margin: auto
                top: -2px
                left: 2px
                right: 0
                bottom: 0


    .float-right
        h5
            margin-top: 15px
            color: $text-menu-left
            font-weight: bold
            font-size: 18px

        p
            color: $text-information-tab-description
            font-size: 15px
            margin-top: -10px