.menu-navi
    .column
        padding-right: 0
        padding-left: 0

        .float-right li:last-child
            padding-right: 0

// Menu navigation, before main rows
.menu-navigation

    .float-left li
        font-size: 21px
        color: $text-menu-left
        text-transform: uppercase

    .float-right li
        font-size: 15px
        color: $text-menu-right
        text-transform: capitalize
        padding: 0 10px
        font-weight: bold
        line-height: 30px

    .float-right li:before
        content: "•"
        padding: 0 5px

    .float-right li:first-child
        color: $text-menu-left

    .float-right li:hover,
    .float-right li:active
        color: $text-menu-left
        cursor: pointer

// Menu navigation, it's only one in this site, RECOMMENDED FOR YOU.
.menu-navigation-one
    margin-top: 20px

    .float-left li
        font-size: 21px
        color: $text-menu-left
        text-transform: uppercase

    .float-right li
        font-size: 15px
        color: $text-menu-right
        text-transform: capitalize
        font-weight: bold
        line-height: 30px

    .float-right li:hover,
    .float-right li:active
        color: $text-menu-left
        cursor: pointer