.sports
    padding-left: 0.1rem
    padding-right: 0.1rem


.sport-event
    background-color: white
    border: 1px solid $color-ticket-border
    max-height: 415px

    h6
        color: $text-ticket-description
        font-size: 13px
        margin-top: 15px
        margin-left: 15px

    p
        font-size: 15px
        color: $text-menu-left
        font-weight: bold
        margin-left: 15px
        margin-top: -5px

        small.text-new
            border-radius: 5px
            border: 1px solid $color-lightblue
            color: $color-lightblue
            padding: 3px 4px
            margin-left: 5px

        small.text-hot
            border-radius: 5px
            border: 1px solid $color-orange
            color: $color-orange
            padding: 3px 4px
            margin-left: 5px

.sport-button
    background-color: $color-gray
    color: $text-ticket-description
    border-radius: 5px
    margin-left: 15px
    font-size: 12px !important
    text-transform: uppercase
    font-weight: bold
    padding: 0.70em 0.9em