@charset "UTF-8";
.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

label.custom-select {
  position: relative;
}

.custom-select select {
  margin: 0;
  line-height: 1.2;
  background: #666;
  color: white;
  border: 0;
}

.custom-select:after {
  content: "▼";
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 39px;
  border-left: solid 1px black;
  padding: 0 15px;
  background: #777;
  color: white;
  pointer-events: none;
}

.no-pointer-events .custom-select:after {
  content: none;
}

.menu-navigation .float-left li {
  font-size: 21px;
  color: #303030;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.menu-navigation .float-right li {
  font-size: 15px;
  color: #989898;
  text-transform: capitalize;
  padding: 0 10px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'PT Sans', sans-serif;
}

.menu-navigation .float-right li:before {
  content: "•";
  padding: 0 5px;
}

.menu-navigation .float-right li:first-child {
  color: #303030;
}

.menu-navigation .float-right li:hover,
.menu-navigation .float-right li:active {
  color: #303030;
  cursor: pointer;
}

.menu-navigation-one {
  margin-top: 20px;
}

.menu-navigation-one .float-left li {
  font-size: 21px;
  color: #303030;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.menu-navigation-one .float-right li {
  font-size: 15px;
  color: #989898;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 30px;
  font-family: 'PT Sans', sans-serif;
}

.menu-navigation-one .float-right li:hover,
.menu-navigation-one .float-right li:active {
  color: #303030;
  cursor: pointer;
}

.image-with-text {
  position: relative;
}

.main-image, .main-image-2, .main-image-3 {
  position: relative;
}

.image-text-left {
  position: absolute;
  right: 0;
  top: 55px;
  left: 45px;
  right: 0;
}

.image-text-left h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.image-text-left h4 {
  color: #7e7e7e;
  font-size: 15px;
}

.image-text-left .image-a a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.image-text-right {
  position: absolute;
  right: 0;
  top: 60px;
  left: 260px;
  right: 0;
}

.image-text-right h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.image-text-right h4 {
  color: #dadada;
  font-size: 15px;
}

.image-text-right .image-a a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.image-text-main {
  position: absolute;
  right: 0;
  top: 10em;
  left: 4em;
  right: 0;
}

.image-text-main h2 {
  color: white;
  font-size: 42px;
  font-weight: bold;
  padding-right: 300px;
  line-height: 1.25;
}

.image-text-main h4 {
  color: #7e7e7e;
  font-size: 15px;
  font-size: 15px;
  margin-top: -10px;
}

.image-text-main .image-a {
  margin-top: 65px;
}

.image-text-main .image-a a {
  color: #1e84cc;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.image-text-main-2 {
  position: absolute;
  right: 0;
  top: 4.25em;
  left: 10em;
  right: 0;
}

.image-text-main-2 h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-right: 40px;
}

.image-text-main-2 h4 {
  color: #7e7e7e;
  font-size: 15px;
  margin-bottom: -5px;
  margin-top: 15px;
}

.image-text-main-2 .image-a a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.image-text-main-3 {
  position: absolute;
  right: 0;
  top: 2.55em;
  left: 35px;
  right: 0;
}

.image-text-main-3 h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-right: 150px;
}

.image-text-main-3 h4 {
  color: #7e7e7e;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: -5px;
}

.image-text-main-3 .image-a a {
  color: #1e84cc;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.shop-row {
  margin-bottom: 25px;
}

.main-pictures {
  padding-left: 0;
  padding-right: 0px;
}

.menu-navi .column {
  padding-right: 0;
  padding-left: 0;
}

.menu-navi .column .float-right li:last-child {
  padding-right: 0;
}

.hot-tickets {
  margin-top: 25px;
  margin-bottom: 40px;
}

.music-events-row {
  margin-top: 20px;
}

.hot-tickets .column:nth-child(2),
.hot-tickets .column:nth-child(3),
.hot-tickets .column:nth-child(4),
.music-events-row .column:first-child,
.music-events-row .column:nth-child(2),
.music-events-row .column:nth-child(3) {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.music-events-row .column:nth-child(4),
.hot-tickets .column:first-child {
  padding-left: 0.1rem;
}

.music-events-row .column:first-child,
.hot-tickets .column:first-child {
  padding-right: 0.35rem;
  padding-left: 0;
}

.hot-tickets .column:last-child {
  padding-right: 0;
}

.music-events-row .column:last-child {
  padding-right: 0;
  padding-left: 0.35rem;
}

.sport-events-row {
  margin-top: 35px;
}

.sports-row {
  margin-top: 45px;
}

.sports {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.sports:first-child {
  padding-left: 0;
}

.sports:last-child {
  padding-right: 0;
}

.sports-labels {
  padding-left: 0;
}

.sports-images {
  padding-right: 0;
  margin-right: -6px;
}

.image-with-text {
  max-width: 480px;
  margin-right: 0;
}

.sports-images-bottom {
  padding-left: 0;
}

.sports-labels-bottom {
  padding-right: 0;
}

.recommended-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-events-labels-row {
  margin-top: 30px;
}

.social-media-tab {
  padding: 0 0.45rem;
}

.social-media-row .column:first-child {
  padding-left: 0;
  padding-right: 0.9rem;
}

.social-media-row .column:last-child {
  padding-left: 0.9rem;
  padding-right: 0;
}

.social-media-row .column:nth-child(2) {
  padding-left: 0;
}

.social-media-row .column:nth-child(3) {
  padding-right: 0;
}

.information-tabs-row {
  margin-top: 50px;
}

.information-tabs-row .column:first-child {
  padding-left: 0;
  padding-right: 0;
}

footer {
  margin-top: 70px;
}

header {
  background-color: #f6f6f6;
}

header .column:first-child {
  margin-top: 15px;
}

header .column:first-child p {
  color: #919191;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

header .column:last-child {
  margin-top: 12px;
}

header .column:last-child ul li {
  padding-left: 15px;
}

header .column:last-child ul li i {
  color: #cccccc;
  padding-right: 5px;
}

header .column:last-child ul li button {
  padding: 0.40em;
  background: none;
  color: #919191;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

header .column:last-child ul li button:focus,
header .column:last-child ul li button:active,
header .column:last-child ul li button:hover {
  background-color: #e9e9e9;
  border-radius: 5px;
}

header .column:last-child ul li button:after {
  border-color: #cccccc transparent transparent !important;
}

.full-searchbox-row {
  background-color: white;
}

h1.logo {
  background-image: url(../images/header-logo.png);
  background-repeat: no-repeat;
  width: 100px;
  text-indent: -10000px;
  margin-top: 50px;
}

.search-input {
  padding-left: 4rem;
}

.search-input .column {
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px;
}

.search-input .column:first-child {
  padding: 0 0.6rem;
}

.search-input .column:first-child select {
  border: 1px solid #dcdcdc;
  color: #6e6e6e;
  font-size: 15px;
  padding-left: 20px;
  height: 50px;
  background-image: url(../images/input-arrow-down.png);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  font-family: 'PT Sans', sans-serif;
}

.search-input .column:first-child select option {
  color: #6e6e6e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

.search-input .column:last-child input {
  margin-left: -11px;
  border: 1px solid #dcdcdc;
  height: 50px;
  box-shadow: none;
}

.search-input .column:last-child input::-webkit-input-placeholder {
  font-size: 15px;
  color: #b7b7b7;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.search-input .column:last-child button.icon {
  border: 1px solid #dcdcdc;
  border-left: none;
  background: #fefefe;
  height: 50px;
  width: 50px;
  color: #cccccc;
  font-size: 10pt;
  float: right;
  margin-top: -66px;
}

.shopping-cart {
  margin-top: 40px;
}

.shopping-cart h4 {
  color: #1e84cc;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

.shopping-cart p {
  color: #bababa;
  font-size: 15px;
  margin-top: -10px;
  font-family: 'PT Sans', sans-serif;
}

.cart {
  width: 50px;
  height: 50px;
  background-color: #1e84cc;
  border-radius: 100%;
  position: relative;
  margin-left: -15px;
}

.cart img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-navigation-row {
  position: relative;
  max-width: 100%;
  background-color: #1e84cc;
}

.navigation-row .navigation {
  background-color: #1e84cc;
  padding: 0;
}

.navigation-row .navigation ul li:first-child {
  background-color: #1b6faa;
  max-width: 275px;
}

.navigation-row .navigation ul li:first-child a {
  margin-right: 95px;
}

.navigation-row .navigation ul li:first-child a strong {
  font-weight: normal;
  margin-left: 25px;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.navigation-row .navigation ul li:nth-child(2) {
  padding-left: 9px;
}

.navigation-row .navigation ul li.has-submenu a:after {
  border-color: white transparent transparent !important;
}

.navigation-row .navigation ul li {
  color: white;
  height: 60px;
  font-family: 'PT Sans', sans-serif;
}

.navigation-row .navigation ul li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 43px;
  white-space: nowrap;
}

.navigation-row .navigation ul li a.contact-us {
  padding-right: 25px;
}

.navigation-row .navigation ul li a.i-social-facebook,
.navigation-row .navigation ul li a.i-social-twitter,
.navigation-row .navigation ul li a.i-social-googleplus,
.navigation-row .navigation ul li a.i-social-linkedin {
  text-indent: -10000px;
  padding-left: 35px;
  max-height: 20px;
  width: 20px;
}

.navigation-row .navigation ul li a.i-arrow-right {
  text-indent: -10000px;
  padding-right: 25px;
  height: 20px;
  width: 39px;
  margin-top: 3px;
}

.navigation-row .navigation ul li a.i-arrow-right {
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
}

.navigation-row .navigation ul li a.i-social-facebook {
  background-image: url(../images/icon-facebook.png);
  background-repeat: no-repeat;
}

.navigation-row .navigation ul li a.i-social-twitter {
  background-image: url(../images/icon-twitter.png);
  background-repeat: no-repeat;
}

.navigation-row .navigation ul li a.i-social-googleplus {
  background-image: url(../images/icon-googleplus.png);
  background-repeat: no-repeat;
}

.navigation-row .navigation ul li a.i-social-linkedin {
  background-image: url(../images/icon-linkedin.png);
  background-repeat: no-repeat;
  padding-right: 0;
}

.left-categories .column:first-child {
  padding: 0;
}

.left-categories .column:first-child ul li ul li:first-child {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-bottom: none;
  position: relative;
}

.left-categories .column:first-child ul li ul li:first-child .square {
  width: 45px;
  height: 50.5px;
  position: relative;
}

.left-categories .column:first-child ul li ul li:first-child .square img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left-categories .column:first-child ul li ul li:nth-child(2) {
  background-color: white;
  border-top: 1px solid #dcdcdc;
}

.left-categories .column:first-child ul li ul li:nth-child(2) a {
  color: #6e6e6e;
  font-size: 15px;
  width: 213px;
  font-family: 'PT Sans', sans-serif;
}

.left-categories .column:first-child ul li ul li:last-child {
  background-color: white;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.left-categories .column:first-child ul li ul li:last-child .right-square {
  width: 40px;
}

.shop-row {
  border: 1px solid #dcdcdc;
  background-color: white;
}

.shop-row .column:first-child .menu {
  margin: 25px;
}

.shop-row .column:first-child .menu li:nth-child(n+2) {
  padding-left: 25px;
}

.shop-row .column:first-child .menu li strong {
  font-size: 18px;
  color: #414040;
  font-family: "Montserrat", sans-serif;
}

.shop-row .column:first-child .menu li p {
  font-size: 15px;
  color: #a3a3a3;
  margin-bottom: 0;
  font-family: 'PT Sans', sans-serif;
}

.shop-row .column:first-child .menu .vertical-line {
  height: 25px;
  width: 3px;
  padding: 0;
  text-indent: -10000px;
  background-color: #2c3e52;
}

.shop-row .column:first-child .progress {
  margin-left: 25px;
  margin-right: 25px;
  height: 0.075rem;
}

.shop-row .column:first-child .progress .progress-meter {
  height: 100%;
}

.shop-row .inputs {
  margin-left: 25px;
  margin-right: 25px;
}

.shop-row .inputs .column {
  margin-bottom: 30px;
}

.shop-row .inputs .column label {
  color: #414040;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

.shop-row .inputs .column label select {
  margin-top: 5px;
}

.ticket-full-image-box img {
  width: 100%;
  max-height: 429px;
}

.ticket-box {
  border: 1px solid #e6e6e6;
  max-height: 429px;
  background-color: white;
}

.ticket-box img {
  max-height: 275.953px;
  width: 100%;
}

.ticket-box h5 {
  font-size: 13px;
  color: #808080;
  margin-top: 30px;
  margin-left: 15px;
}

.ticket-box p {
  font-size: 15px;
  color: #303030;
  font-weight: bold;
  margin-top: -5px;
  margin-left: 15px;
}

.ticket-box p small.text-new {
  border-radius: 5px;
  border: 1px solid #1e84cc;
  color: #1e84cc;
  padding: 3px 4px;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.ticket-box p small.text-hot {
  border-radius: 5px;
  border: 1px solid #ef8742;
  color: #ef8742;
  padding: 3px 4px;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.ticket-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 4px;
  font-size: 12px !important;
  text-transform: uppercase;
  margin-bottom: 28.641px;
  padding: 0.7em 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.event-label {
  background-color: white;
  border: 1px solid #e6e6e6;
  padding-right: 0.7rem;
  max-height: 66px;
  margin-top: 5.5px;
}

.event-label .description h6 {
  margin-top: 10px;
  color: #2c3e52;
  font-size: 15px;
}

.event-label .description p {
  color: #878787;
  font-size: 15px;
  margin-top: -5px;
}

.event-label .date {
  color: #2c3e52;
  font-size: 15px;
  line-height: 20px;
}

.event-label .tab-button {
  padding: 0;
}

.event-label .calendar ul {
  margin-top: 5px;
}

.event-label .calendar ul li {
  padding-left: 10px;
}

.event-label .calendar ul li:first-child {
  padding-left: 0;
}

.event-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.7em 0.9em;
  font-family: 'Open Sans', sans-serif;
}

.event-label-button {
  border: 2px solid #95c3e3;
  background-color: #ddedf7;
  max-height: 50px;
  margin-bottom: 6px;
}

.event-label-button p {
  color: #878787;
  font-size: 15px;
  margin-top: 10px;
}

.event-label-button button {
  margin-top: -2px;
}

.callout {
  padding: 10px;
}

.callout button span {
  color: #1e84cc;
}

.recommended-row {
  background-color: white;
  border: 1px solid #dcdcdc;
}

.recommended-row .recommended-tab {
  border-right: 1px solid #e3e3e3;
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 105px;
  padding: 0 0.1rem;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
}

.recommended-row .recommended-tab img {
  margin-top: -10px;
}

.recommended-row .recommended-tab h6 {
  color: #808080;
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
}

.recommended-row .recommended-tab .rating {
  width: 100%;
  text-align: center;
  margin-bottom: -5px;
  margin-top: -5px;
  float: left;
}

.recommended-row .arrow {
  margin-top: -155px;
  width: 60px;
  height: 155px;
  float: right;
  background-color: white;
  border-left: 1px solid #e3e3e3;
  position: relative;
}

.recommended-row .arrow img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sport-event {
  background-color: white;
  border: 1px solid #e6e6e6;
  max-height: 415px;
}

.sport-event img {
  height: 292.031px;
}

.sport-event h6 {
  color: #808080;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 15px;
}

.sport-event p {
  font-size: 15px;
  color: #303030;
  font-weight: bold;
  margin-left: 15px;
  margin-top: -5px;
}

.sport-event p small.text-new {
  border-radius: 5px;
  border: 1px solid #1e84cc;
  color: #1e84cc;
  padding: 3px 4px;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.sport-event p small.text-hot {
  border-radius: 5px;
  border: 1px solid #ef8742;
  color: #ef8742;
  padding: 3px 4px;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.sport-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 12px !important;
  text-transform: uppercase;
  padding: 0.7em 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.social-media-row {
  background-color: white;
}

.social-media {
  border: 1px solid #dcdcdc;
  position: relative;
}

.social-media img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-media h6 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 20px;
  text-transform: uppercase;
}

.social-media h5 {
  font-size: 17px;
  color: #5b5b5b;
  margin-left: 20px;
}

.social-media p {
  color: #808080;
  font-size: 13px;
  padding-right: 90px;
  margin-left: 20px;
}

.social-media .social-facebook {
  color: #425f9c;
}

.social-media .social-twitter {
  color: #55acee;
}

.social-media .social-googleplus {
  color: #e02321;
}

.social-media .social-instagram {
  color: #3f160d;
}

.social-media .social-media-button {
  background-color: #f6f6f6;
  color: #303030;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 12px !important;
  text-transform: capitalize;
  margin-bottom: 28.641px;
  border: 1px solid #d7d7d7;
  width: 95px;
  height: 30px;
  line-height: 8px;
  white-space: nowrap;
}

.bottom-background {
  margin-top: -50px;
  position: absolute;
  top: 0;
  max-width: 100%;
  min-width: 100%;
  background-image: linear-gradient(#fff, #fff), linear-gradient(white, white);
  background-clip: content-box, padding-box;
  height: 50px;
  z-index: -1;
}

.full-row {
  position: relative;
  padding-top: 25px;
  max-width: 100%;
  background-image: linear-gradient(#fff, #fff), linear-gradient(white, white);
  background-clip: content-box, padding-box;
}

.information-tab:first-child p {
  margin-right: 85px;
}

.information-tab:nth-child(2) {
  padding-left: 0;
  padding-right: 0.25rem;
  margin-left: -20px;
}

.information-tab:nth-child(3) {
  margin-left: 20px;
  padding: 0;
}

.information-tab:nth-child(3) p {
  margin-right: 15px;
}

.information-tab:nth-child(4) {
  padding: 0;
}

.information-tab:nth-child(4) h5 {
  margin-right: 45px;
}

.information-tab:nth-child(4) .float-left {
  margin-left: 25px;
}

.information-tab .float-left .ticket, .information-tab .float-left .shipping, .information-tab .float-left .refund {
  border-radius: 100%;
  border: 2px solid #b1b1b1;
  width: 65px;
  height: 65px;
  position: relative;
}

.information-tab .float-left .ticket img, .information-tab .float-left .shipping img, .information-tab .float-left .refund img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.information-tab .float-left .star {
  background-color: #1e84cc;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  position: relative;
}

.information-tab .float-left .star img {
  position: absolute;
  margin: auto;
  top: -2px;
  left: 2px;
  right: 0;
  bottom: 0;
}

.information-tab .float-right h5 {
  margin-top: 15px;
  color: #303030;
  font-weight: bold;
  font-size: 18px;
}

.information-tab .float-right p {
  color: #acacac;
  font-size: 15px;
  margin-top: -10px;
}

footer {
  background-color: #2d2d30;
}

footer .row h5 {
  color: #acacad;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .row .menu {
  margin-top: 50px;
}

footer .row .menu a {
  padding: 15px 0 0 0;
  color: #f7f6f5;
  text-transform: capitalize;
}

footer .row .column:first-child .footer-logo {
  margin-top: 50px;
  margin-bottom: 25px;
}

footer .row .column:first-child .float-left img {
  margin-top: 5px;
}

footer .row .column:first-child .float-right h6, footer .row .column:first-child .float-right p {
  color: #acacad;
  text-transform: uppercase;
  font-weight: bold;
}

footer .row .column:first-child .float-right h6 {
  font-size: 13px;
}

footer .row .column:first-child .float-right p {
  font-size: 10px;
  margin-top: -10px;
  margin-right: 30px;
}

footer .row .column:nth-child(5) h6 {
  margin-top: 50px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

footer .row .column:nth-child(5) p {
  color: #acacad;
  font-size: 14px;
  font-weight: bold;
  margin-top: -5px;
}

footer .row .column:nth-child(5) p span {
  color: #1e84cc;
}

footer .row .column:nth-child(5) .input-group {
  max-width: 220px;
}

footer .row .column:nth-child(5) .input-group-field {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 180px;
}

footer .row .column:nth-child(5) .input-group-button {
  background-color: #1e84cc;
  height: 2.5em;
  padding: 0 20px;
  position: relative;
}

footer .row .column:nth-child(5) .input-group-button img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer .row .footer-text {
  text-align: center;
  font-size: 12px;
  color: #acacad;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f6f6f6;
}

.rating {
  display: inline;
}

.rating i {
  color: #f6b63a;
  font-size: 1.1em;
  margin: 0 0.15em;
}

.rating .inactive {
  color: #d7d7d7;
}

.rating a {
  font-size: 0.9em;
  margin-left: 5px;
  color: #aaaaaa;
}
