$color-gray: #f6f6f6
$color-lightblue: #1e84cc
$color-progressbar: #008cff
$color-borders: #dcdcdc
$color-dropdown: #cccccc

$text-header: #919191
$text-searchbox: #b7b7b7
$text-shopping-info: #bababa
$text-menu-left: #303030
$text-menu-right: #989898


@import "font-sizes"
@import "inputs"
@import "header"
@import "searchbox"


.row-full
    width: 100%
    margin-left: auto
    margin-right: auto
    max-width: initial


.rating
    unicode-bidi: bidi-override
    direction: rtl
    float: left

.rating > span
    display: inline-block
    position: relative
    width: 1.1em

.rating > span:hover:before,
.rating > span:hover ~ span:before
    content: "\2605"
    position: absolute