@charset "UTF-8";
.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

label.custom-select {
  position: relative;
}

.custom-select select {
  margin: 0;
  line-height: 1.2;
  background: #666;
  color: white;
  border: 0;
}

.custom-select:after {
  content: "▼";
  position: absolute;
  top: 1;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 39px;
  border-left: solid 1px black;
  padding: 0 15px;
  background: #777;
  color: white;
  pointer-events: none;
}

.no-pointer-events .custom-select:after {
  content: none;
}

.bg-gray {
  background-color: #f6f6f6;
}

header .column {
  margin-top: 15px;
}

header .column p {
  color: #919191;
}

.header-button {
  background: none;
  color: #919191;
}

.header-button:after {
  border-color: #cccccc transparent transparent !important;
}

h1.logo {
  background-image: url(../images/header-logo.png);
  background-repeat: no-repeat;
  width: 100px;
  text-indent: -10000px;
  margin-top: 50px;
}

.search-input .column {
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px;
}

.shopping-cart {
  margin-top: 40px;
}

.shopping-cart h4 {
  color: #1e84cc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.shopping-cart p {
  color: #bababa;
  font-size: 15px;
  margin-top: -10px;
}

.cart {
  width: 50px;
  height: 50px;
  background-color: #1e84cc;
  border-radius: 100%;
  position: relative;
  margin-left: -15px;
}

.cart i.fi-shopping-cart {
  font-size: 1.75em;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.ticket-box {
  border: 1px solid #e6e6e6;
  max-height: 416px;
}

.ticket-box h5 {
  font-size: 13px;
  color: #808080;
  margin-top: 30px;
  margin-left: 15px;
}

.ticket-box p {
  font-size: 15px;
  color: #303030;
  font-weight: bold;
  margin-top: -5px;
  margin-left: 15px;
}

.ticket-box p small.text-new {
  border-radius: 5px;
  border: 1px solid #1e84cc;
  color: #1e84cc;
  padding: 3px 4px;
  margin-left: 5px;
}

.ticket-box p small.text-hot {
  border-radius: 5px;
  border: 1px solid #ef8742;
  color: #ef8742;
  padding: 3px 4px;
  margin-left: 5px;
}

.ticket-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 4px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 28.641px;
  padding: 0.7em 0.9em;
}

.menu-navigation .float-left li {
  font-size: 21px;
  color: #303030;
  text-transform: uppercase;
}

.menu-navigation .float-right li {
  font-size: 15px;
  color: #989898;
  text-transform: capitalize;
  padding: 0 10px;
  font-weight: bold;
}

.menu-navigation .float-right li:before {
  content: "•";
  padding: 0 5px;
}

.menu-navigation .float-right li:first-child {
  color: #303030;
}

.menu-navigation .float-right li:hover,
.menu-navigation .float-right li:active {
  color: #303030;
  cursor: pointer;
}

.image-with-text {
  position: relative;
}

.image-text {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  right: 0;
}

.image-text h3 {
  color: white;
  font-size: 18px;
}

.image-text h4 {
  color: #7e7e7e;
  font-size: 15px;
}

.image-text .rating span {
  color: white;
}

.image-text-main {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  right: 0;
}

.image-text-main h2 {
  color: white;
  font-size: 42px;
}

.image-text-main h4 {
  color: #7e7e7e;
  font-size: 15px;
}

.image-text-main .rating span {
  color: white;
}

.sports {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.sport-event {
  background-color: white;
  border: 1px solid #e6e6e6;
  max-height: 415px;
}

.sport-event h6 {
  color: #808080;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 15px;
}

.sport-event p {
  font-size: 15px;
  color: #303030;
  font-weight: bold;
  margin-left: 15px;
  margin-top: -5px;
}

.sport-event p small.text-new {
  border-radius: 5px;
  border: 1px solid #1e84cc;
  color: #1e84cc;
  padding: 3px 4px;
  margin-left: 5px;
}

.sport-event p small.text-hot {
  border-radius: 5px;
  border: 1px solid #ef8742;
  color: #ef8742;
  padding: 3px 4px;
  margin-left: 5px;
}

.sport-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7em 0.9em;
}

.event-label {
  background-color: white;
  border: 1px solid #e6e6e6;
  padding-right: 0.7rem;
  max-height: 65px;
}

.event-label .description h6 {
  margin-top: 10px;
  color: #2c3e52;
  font-size: 15px;
}

.event-label .description p {
  color: #878787;
  font-size: 15px;
  margin-top: -5px;
}

.event-label .date {
  color: #2c3e52;
  font-size: 15px;
  line-height: 20px;
}

.event-label .tab-button {
  padding: 0;
}

.event-label .calendar ul {
  margin-top: 5px;
}

.event-label .calendar ul li {
  padding-left: 10px;
}

.event-label .calendar ul li:first-child {
  padding-left: 0;
}

.event-button {
  background-color: #f6f6f6;
  color: #808080;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7em 0.9em;
}

.event-label-button {
  border: 2px solid #95c3e3;
  background-color: #ddedf7;
  max-height: 50px;
}

.event-label-button p {
  color: #878787;
  font-size: 15px;
  margin-top: 10px;
}

.event-label-button button {
  margin-top: -2px;
}

.callout {
  padding: 10px;
}

.row-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
